

.insertDataDetail {
    padding: 1vw 2vw;
    margin-top: 1vh;
}

.insertDataDetail > div:nth-child(1){
    font-size: 1.1rem;
    margin-bottom: 0.5vh;
    color: #F2F2F2;
}
.insertDataDetail > div:nth-child(2), .insertDataDetail > div:nth-child(3){
    color: rgb(156 156 156);
}
.insertDataDetail > div:last-child {
    margin-top: 0.5vh;
    color: #F2F2F2;
}